* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}

body {
    width: 100%;
}


:root {

    font-size: 62.5%;

    --color-base-white: hsl(0, 0%, 100%);
    --color-base-100: hsla(0, 0%, 100%, 1) --color-base-gray-200: hsla(0, 0%, 100%, 0.2);
    --color-base-gray-400: hsl(0, 0%, 24%);
    --color-base-gray-600: hsl(240, 5%, 7%);
    --color-base-gray-700: hsl(240, 6%, 13%);
}

#cats {
    display: grid;
    grid-template-areas:

        "header header header"
        "figure figure figure"
        "main  main  main"
        "aside aside aside"
        "footer footer footer";

    width: 100%;
    height: 100vh;
    gap: 20px;

}






#cats>* {
    border: 1px solid red;

}

#cats header {
    grid-area: header;
    padding: 1.4rem;

}

#cats figure {
    grid-area: figure;
    padding: 3.0rem;

}

#cats main {
    grid-area: main;
    padding: 6.0rem;

}

#cats aside {
    grid-area: aside;
    padding: 8rem
}

#cats footer {
    grid-area: footer;
    padding: 1.4rem;
}

@media (min-width:600px) {

    #cats {
        display: grid;
        grid-template-areas:

            "header header header"
            "figure figure figure"
            "main  main aside"
            "main  main aside"
            "footer footer footer";
            grid-template-columns: 3fr 3fr;
            grid-template-rows: repeat(3, 200px);
            gap: 10px;
    }
}

#cats>* {
    border: 1px solid red;
}


header {
    grid-area: header;
    padding: 1rem;

}

figure {
    grid-area: figure;
    padding: 2rem;

}

main {
   grid-area: main;
   padding: 2.0rem;
  }

aside {
    grid-area: aside;
    padding: 6rem;

}

footer {
    grid-area: footer;
    padding: 1rem;
}